<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" color="light">
      <ion-menu-button color="light">
      </ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Home</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="bubbles">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid class="ion-text-center">
    <h1 style="margin-top: 100px;" color="primary" class="ion-text-center title">
      Glocery GO!</h1>
    <ion-row class="c-ion-row-scanner">
      <ion-col size="12">
        <img class="animated flipInY" style="margin-bottom: 200px;" src="assets/images/shopping-cart.gif"
          width="250px">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer color="light" no-border>
  <div *ngIf="!scanActive">
    <ion-row class="align-items-center justify-conter">
      <ion-col col-3 col-sm-3 col-m3 class="ion-text-center">
        <div class="animated fadeInUp ion-text-center">
          <ion-button fill="clear" color="primary" value="write">
            <ion-icon color="primary" name="cloud-upload"></ion-icon>
          </ion-button>
        </div>
        <div class="animated fadeInUp">
          <ion-label color="primary">Buscar</ion-label>
        </div>
      </ion-col>

      <ion-col col-3 col-sm-3 col-m3 class="ion-text-center">
        <div class="animated fadeInUp ion-text-center">
          <ion-button fill="clear" color="primary" value="write">
            <ion-icon color="primary" name="pencil-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="animated fadeInUp">
          <ion-label color="primary">Lista</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-footer>