ion-card {
	box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 40%);
	flex-direction: column;
	width: 90% !important;
	height: 100% !important;

	--background: white;
	border-radius: 4px;
	cursor: pointer;
}

ion-icon {
	font-size: 35px;
}

ion-refresher ion-refresher-content {
	background: var(--ion-color-primary);
	--color: rgba(255, 255, 255, 1) !important;
}
	
ion-content {
	background-color: var(--ion-color-primary) !important;
}

ion-refresher {
	position: inherit !important;
}

ion-grid {
	height: 100%;
}
.c-ion-row-scanner {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.c-ion-row-panel {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60%;
}

.c-footer {
	background-color: #0f1438;
	text-align: center;
	justify-content: center;
	align-items: center;
}

/* Set the width to the full container and center the content */
ion-select {
	width: 100%;

	justify-content: right;
}

ion-select::part(placeholder),
ion-select::part(text) {
	flex: 0 0 auto;
}


.teste{
	z-index: 10;
}