<ion-tabs>
  <ion-tab-bar hidden slot="bottom">
    <ion-tab-button tab="menu-tab">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Documentos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>