<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slides</title>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
  <style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }
  </style>
</head>
<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides #welcomeSlider pager="true">

    <ion-slide>
      <div class="slide">
        <img src="/assets/images/party.gif" />
        <h2>Bem Vindo, {{guestName}}!</h2>
        <p>O <b>Classificados do bem</b> é uma iniciativa que irá fazer você trazer um pouco de um alegria e conforto
          aquelas pessoas que necessitam da sua ajuda! </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="/assets/images/friendships.gif" />
      <h2>Empatia!</h2>
      <p><b>A empatia</b> é certamente um dos mais nobres sentimentos humanos. Para entender e ajudar o próximo é
        necessário se imaginar na condição dele.</p>
    </ion-slide>

    <ion-slide>
      <img src="/assets/images/grow.gif" />
      <h2>Classificados do Bem!</h2>
      <p><b>O Classificados do Bem!</b> Um aplicativo feito para que você possa ajudar seus familiares e amigos a
        compartilharem seus serviços e até mesmo fazer doações aos mais necessitados! \o/.</p>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="/assets/images/term.gif" />
        <h2>Termo de uso!</h2>
        <p>De uma olhadinha no <b>termo</b> para saber o que podemos fazer no App </p>
        <ion-button fill="clear">Termo de uso <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="/assets/images/welcome-party.gif" />
        <h2>Vamos começar!</h2>
        <p><b>Entre para festa</b>, a jornada em ajudar o proxímo só está começando!</p>
        <ion-button routerLink="/side-menu/hometabs/tabs/menu-tab" fill="clear">Continuar<ion-icon slot="end"
            name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
