.active-item {
    border-left: 5px solid var(--ion-color-primary);
}

:host {
    .user-photo ion-avatar {
        margin: 0 auto;
        width: 120px;
        height: 120px;
        border: 2px solid rgba(0, 0, 0, 0.4);
        margin-bottom: 5px;
    }

    ion-list {
        margin-top: 24px;

        p {
            font-size: 12px;
            font-weight: 400;
            padding-bottom: 4px;
        }

        h2 {
            font-weight: 400;
            opacity: 0.5;
        }
    }
}

.bold {
    font-weight: bold;
}


ion-footer {
    ion-toolbar {
        --border-width: 0 !important;
    }
}
