<ion-split-pane contentId="my-content">
  <ion-menu color="primary" contentId="my-content">
    <ion-header hidden>
      <ion-toolbar>
        <ion-title>
          Menu!
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-row style="height: 40px"></ion-row>
      <div class="user-photo c-background ion-padding-top">
        <ion-avatar>
          <ion-img [src]="user?.profileImage || '/assets/images/eu.jpg'" #imageSrc>
          </ion-img>
        </ion-avatar>
      </div>
      <h4 class="ion-text-center bold">Nome</h4>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item *ngIf="!p.quit" [routerLink]="p.url" routerDirection="root"
            [class.active-item]="selectPath.startsWith(p.url)">
            <ion-icon [name]="p.icon" color="primary"></ion-icon> &nbsp; {{p.title}}
          </ion-item>

          <ion-item *ngIf="p.quit" [href]='logoutUri'>
            <ion-icon [name]="p.icon" color="primary"></ion-icon> &nbsp; {{p.title}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

    </ion-content>
    <ion-footer no-border>
      <ion-toolbar class="ion-text-center">
        <div class="sbn sbn05r ion-text-center bold">
          {{ version }}
        </div>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="my-content"></ion-router-outlet>
</ion-split-pane>
