ion-icon {
    font-size: 30px;
}

:host {
    .user-photo ion-avatar {
        margin: 0 auto;
        width: 120px;
        height: 120px;
        border: 2px solid rgba(0, 0, 0, 0.4);
        margin-bottom: 5px;
    }

    ion-list {
        margin-top: 24px;

        p {
            font-size: 12px;
            font-weight: 400;
            padding-bottom: 4px;
        }

        h2 {
            font-weight: 400;
            opacity: 0.5;
        }
    }
}

.c-background {
    background-color: var(--ion-color-primary);
}

.c-label {
    color: white;
    margin: 0 auto;
    font-style: bold;
    margin-bottom: 5px;
}

.c-change {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.c-button {
    margin-top: 10px;
    width: 100px;
    padding-top: 10px;
}

.c-selected {
    font-size: 12px;
    margin-left: -14px;
    color: var(--ion-color-primary);
    font-weight: bold;
}
