<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" color="light">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Perfil</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/side-menu/hometabs/tabs/menu-tab">
        <ion-icon color="light" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="user-photo c-background ion-padding-top">
    <ion-avatar>
      <ion-img  [src]="user?.profileImage || '/assets/images/eu.jpg'" #imageSrc>
      </ion-img>
    </ion-avatar>
    <ion-row style="height: 10px"></ion-row>
    <input hidden="true" type="file" id="pwaphoto" #pwaphoto accept="image/x-png,image/jpeg">
  </div>

  <ion-list>
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>
        <p>Nome</p>
        <h2>Nome qualquer</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>
        <p>Email</p>
        <h2>glocerygo@glocerygo.com.br</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="people" slot="start"></ion-icon>
      <ion-label>
        <p>Perfil</p>
        <h2>Premium</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
