
@import url(http://weloveiconfonts.com/api/?family=entypo);
*, *:before, *:after {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.lamp {
  position:relative;
  margin:0 auto;
  width:.7rem;
  height:10rem;
  background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
                   linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
                   linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  background-repeat:no-repeat;
  background-size:.15rem 8rem, .4rem .8rem, .7rem 2rem;
  background-position:50% 0, .19rem 8rem, 0 8.8rem;
}
.lamp:before, .lamp:after {
  content:'';
  position:absolute;
}

.gonna-give-light, 
.gonna-give-light:before{
  position:absolute;
}
.gonna-give-light {
  top:10.05rem;
  left:.25rem;
  width:0;
  height:1.5rem;
  border-right:.2rem solid rgba(255,255,255,0.05);
}
.gonna-give-light:before {
  content:'';
  top:1.5rem;
  left:-.35rem;
  width:.9rem;
  height:.9rem;
  border-radius:50%;
  border:.2rem solid rgba(255,255,255,0.05);
  box-shadow:0px 0px 50px rgba(255,255,255,0);
}

.lamp::before {
    left:-1.65rem;
    bottom:-4rem;
    width:4rem;
    height:4rem;
    border-radius:50%;
    background:rgba(255,255,255,0.03);
    box-shadow:inset 2px -2px 10px rgba(255,255,255,0.07);
    transition:all .15s;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset rgba(255,255,255,0.05) 0 -1px 9px, rgba(255,255,255,1) 0 2px 12px;
    -webkit-animation: blinkWhite 1s infinite;
    -moz-animation: blinkWhite 1s infinite;
    -ms-animation: blinkWhite 1s infinite;
    -o-animation: blinkWhite 1s infinite;
    animation: blinkWhite 1s infinite;
}

@-webkit-keyframes blinkWhite {
    from { background-color: rgba(255,255,255,1); }
    50% { background-color: rgba(255,255,255,0.05); box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset rgba(255,255,255,0.05) 0 -1px 9px, rgba(255,255,255,1) 0 0px 0; }
    to { background-color: rgba(255,255,255,1); }
}
@-moz-keyframes blinkWhite {
    from { background-color: rgba(255,255,255,1); }
    50% { background-color: rgba(255,255,255,0.05); box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset rgba(255,255,255,0.05) 0 -1px 9px, rgba(255,255,255,1) 0 0px 0; }
    to { background-color: rgba(255,255,255,1); }
}
@-ms-keyframes blinkWhite {
    from { background-color: rgba(255,255,255,1); }
    50% { background-color: rgba(255,255,255,0.05); box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset rgba(255,255,255,0.05) 0 -1px 9px, rgba(255,255,255,1) 0 0px 0; }
    to { background-color: rgba(255,255,255,1); }
}
@-o-keyframes blinkWhite {
    from { background-color: rgba(255,255,255,1); }
    50% { background-color: rgba(255,255,255,0.05); box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset rgba(255,255,255,0.05) 0 -1px 9px, rgba(255,255,255,1) 0 0px 0; }
    to { background-color: rgba(255,255,255,1); }
}
@keyframes blinkWhite {
    from { background-color: rgba(255,255,255,1); }
    50% { background-color: rgba(255,255,255,0.05); box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset rgba(255,255,255,0.05) 0 -1px 9px, rgba(255,255,255,1) 0 0px 0; }
    to { background-color: rgba(255,255,255,1); }
}

.c-list {
    text-align: left;
    margin: 10px;
    padding: 10px;
    list-style: none;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.59);
    box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.59);
  }

  .c-button {
   width: 60%;
   
    --box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.59);
  }

  .title {
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-size: 3em;
    text-shadow: 3px 5px #000;
  }