<ion-content padding color="primary">
  <ion-grid fixed>
    <ion-row align-items-center justify-conter>
      <ion-col col-12 col-sm-12 col-m6>
        <div class="animated bounceInDown slow" id="lamp">
          <div class="lamp">
            <div class="gonna-give-light"></div>
            <div class="container">
              <div class="led-white"></div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row align-items-center justify-conter>
      <ion-col col-12 col-sm-12 col-m6>
        <br>
        <br>
        <br>
        <h1 text-center class="ion-text-center title animated jackInTheBox delay-1s">Glocery GO</h1>
        <br><br>
        <ion-list class="c-list animated flipInX delay-1s" lines="none">
          <ion-item>
            <ion-input type="email" placeholder="ID or E-mail"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="Password"></ion-input>
          </ion-item>
        </ion-list>
        <div class="ion-text-center">
          <ion-button class="ion-text-center animated fadeInUp delay-1s c-button" routerLink="/side-menu/hometabs"
            color="dark" shape="round">Login</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <br>
  </ion-grid>
</ion-content>