<div>
  <div *ngIf="loading">Carregando Câmera</div>
  <video id="video" [width]="width" [height]="height" #video autoplay></video>
  <canvas id="canvas" [width]="width" [height]="height" #canvas></canvas>
</div>
