ion-content {
    --background: var(--ion-color-light);
}

.accordion-list {
    margin-bottom: 4px;
    --ion-item-background: #fff;

    .section,
    .section-active {
        --min-height: 58px;
    }
}

.popid-list {
    padding: 0px;
    margin: 0px;

    .popid,
    .popid-active {
        margin-bottom: 2px;
    }
}

.popid {
    --ion-item-background: #53565A;
    --ion-item-color: #fff;
}

.popid-active {
    --ion-item-background: #041E42;
    --ion-item-color: #fff;

    ion-icon {
        color: #fff;
    }
}

.deviation-list {
    padding: 0px;
    margin: 0px;
}

.search {
    text-align: center;
}

.error {
    color: red;
}
